<h1>Welcome to The Book Club!</h2>
<h2> Sign In to Your Account </h2>
  <form method="POST" action="/login">
    <input type="text" name="name" id="name" placeholder="Username"><br>
    <input type="password" name="password" id="password" placeholder="Password"><br><br>
    <input type="submit" name="login" id="submit" value="Sign In">
  </form>
