<h2> Create a Username and Password </h2>
<form method="POST" action="/signup">
  <input type="text" name="email" id="email" placeholder="E-mail"><br>
  <input type="text" name="name" id="name" placeholder="Username"><br>
  <input type="text" name="password" id="password" placeholder="Password"><br><br>
  <input type="submit" name="Log In" id="submit" value="Sign Up">
</form>
