<h2> Reading List </h2>
<% @books.each do |book| %>
<div>
  <strong><a href="/books/<%= book.id %>" > <%= book.title %> </a></strong>
  <small><a href="/books/<%= book.id %>/edit"> Edit </a>
  <span class="navigationSpace"/>
  <a href="/books/<%= book.id %>/delete"> Delete </a></small>
  <% end %>

<br><br><strong><a href="/books/new" > Add a Book </a></strong>


 
  

