<% if logged_in? %>
<%= @error %>
  <form action='/books' method="post">
    Content:
    <input type="text" name="content" id="content"><br>
    Add a Book to the List:

    <input type="submit" name="title" id="submit" placeholder="Title">
    <input type="submit" name="author" id="submit" placeholder="Author">
    
  </form>

  <% else %>
      <h1> You must be logged in to add a book to the list! </h1>
  <% end %>
