<h1> Welcome to Book Club! </h1>
<h2> Create a team oriented reading list with your friends! </h2><br>
<strong><p>Please <a href="/login">Sign In</a> or <a href="/signup">Create an Account</a>.</p></strong><br>